/* ****************** Body, head etc ****************** */
body {
	margin: 0;
	padding: 0;
	background-color: rgb(0, 0, 0);
}

header {
	color: rgb(255, 255, 255);
	font-size: 100pt !important;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 20px;
	position: relative;
}
x {
	color: rgb(255, 255, 255);
	font-size: 45pt;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	text-align: center;
	display: block;
	width: 100%
}
p {
	color: rgb(255, 255, 255);
	font-size: 16pt;
	block-size: 1px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	text-align: center;
	display: block;
	width: 100%
}

a {
	color: #00AEEA;
	text-decoration: none;
}
a:hover {
	color: #00AEEA;
}
a:visited {
	color: #00AEEA;
}

/* ****************** Table style ****************** */
#tab-tic-tac-toe {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 4em;
	font-family: Sans;
	color: #444;
	background: #000000;
	width: 310px;
	height: 300px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #CECECE;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCC;
}

/*Column style*/
#tab-tic-tac-toe td {
	border-collapse:collapse;
	border-left: 5px solid rgb(31, 31, 31);
	border-bottom: 5px solid rgb(39, 39, 39);
}

#tab-tic-tac-toe td:first-child {
	border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
	border-bottom: none;
}

/*Cells*/
#tab-tic-tac-toe td {
	cursor: pointer;
	height: 95px;
	width: 95px;
}

#tab-tic-tac-toe td:hover {
	background: #767474;
}

/* ****************** Restart Button ****************** */
#btn-restart {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	background: #00AEEA;
	font-size: 1.5em;
	font-family: monospace;
	font-weight: bold;
	color: #FFF;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

#bnt-restart:hover {
	background: #1DC5FF;
}

#bnt-restart:active {
	background: #0787B3;
}


